.harivillu-header-log{
height:67.09px;
width:149.97px;
}
.Header-harivillu-container{
display: flex;
}
div{
display: flex;
}
ul{
font-family: 'Times New Roman';
display: flex;
font-size:20px;
list-style-type:none;
padding: 0px 328px ;
cursor: pointer;
font-family: 'Times New Roman';
}
li{
padding:10px 20px;
}
li a.hv-home-bar-active{
color: orangered;
}
.harivillu-header-my-button{
border: none;
width:134.14px;
height:43.19px;
font-size:17px;
text-align: center;
background-color: orange;
cursor:pointer;
position: absolute;
top: 35px; 
right: 90px;
}
.main-class-image-harivillu{
height:740px;
width:1351px;
}
