.class-header{
    text-align: center;
    font-style: italic;
}
#textabove_button{
    font-size:25px;
    color:greenyellow;
    background-color: rgb(255, 0, 43);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#button_fire{
    width: 100px;
    height: 30px;
    font-size: 20px;
    color: blue;
    background-color: brown;
    cursor: pointer;
}
#button_fire.clicked{
    color:palevioletred;
    background-color:grey;
}
#employeeForm{
    float: left;
    clear:left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
fieldset{
    background-color: rgb(162, 179, 184);
    padding:10px;
    width: 340px;
    margin-bottom:10px ;
}
legend{
    font-weight: bold;
    color: rgb(241, 9, 48);
}
.form-fieldset{
    margin-bottom: 25px;
    font-style: unset;
}
.submitclass{
    color: blueviolet;
    background-color: rgb(41, 211, 19);
    cursor:pointer;
    width:50x;
    height: 25px;
    font-size:15px;
    font-family: cursive;
    border-radius: 5%;
}
.submitclass:hover{
    color: rgb(231, 15, 105);
    background-color: chartreuse;
}
#div-buttonandparagrapharea{
    margin: 23px;
}
.myparagraph-rockline{
    font-size: 30px;
    color: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#page-topbutton{
    margin-top: 10px;
}




