img.business {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  float: left;
  clear: left;
}
.ul-ol-lists {
  float: left;
  clear: left;
}

img.Lighthouse {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  float: right;
  clear: left;
}

p.firstpara {
  font-size: xx-large;
}

a {
  /*can also use display:block*/
  float: left;
  clear: left;
}

img.img-logo {
  width: 260px;
  height: 85px;
}
.nav-ul {
  display: flex;
  line-height: inherit;
}
/* .nav-il {
        display: inline;
      } */
.main-header {
  width: 100%;
  height: 112px;
}
div.main-header-div {
  display: flex;
  line-height: inherit;
  padding: 10px;
  margin: 10px;
}
